@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #34b7fa;
}

body {
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* background-color: #000; */
    /* color: #fff; */
}

/* for header css */
header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #ffffff;
    border-bottom: 15px solid #02519f;
}

.navbar .for_m_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-expand-lg .navbar-nav .nav-item {
    padding: 30px 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.55rem;
    color: #3f3f3f;
    font-weight: 400;
    padding: 5px 8px;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    /* border-bottom: 2px solid #ffffff; */
    /* border-width: 80%; */
    color: #fff;
    transition: 0.15s ease-in-out;
    background-color: #ce1125;
}

#home {
    position: relative;

}

.for_blue_bottom_border {
    border-bottom: 15px solid #02519f;
}


.about .border_in_top {
    padding: 3rem 0px;
    border-top: 1px solid #fff;
    border-bottom: 5px solid #02519f;
}

.for_about_section_img {
    padding: 1rem;
    border: 2px solid #ce1125;
}

.for_about_section {
    margin-top: 2rem;
    padding: 2rem;
}


.about .border_in_top p {
    font-family: "Roboto", sans-serif;
    font-size: 1.43rem;
    font-weight: 300;
    line-height: 32px;
}

.for_text-absolute {
    position: absolute;
    /* padding-top: 4rem; */
    /* margin-left: 8rem; */
    top: 5rem;
}

.for_text-absolute-sub {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

.for_text-absolute-sub h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    letter-spacing: 20px;
    color: #ce1125;
    font-weight: 500;
}

.for_text-absolute h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    margin-bottom: -0.5rem;
    color: #ce1125;
    letter-spacing: 3px;
    font-weight: 500;
}

.for_text-absolute h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 15px;
    color: #ce1125;
    font-weight: 500;
}

.product_title .product_title_text {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #02519f
}

.product_title .product_title_text span {
    padding: 1.5rem 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    background-color: #ce1125;
    color: #fff;
}

.product_slider_item img {
    height: 300px;
    object-fit: contain;
    margin-bottom: 2rem;
}

.product_slider_item .product_heading {
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    border: 2px solid #02519f;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.product_slider_item .product_heading span {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #02519f;
}

.product_slider_item .product_details p {
    margin-bottom: 0.8rem;
    font-family: "Roboto", sans-serif;
    color: #535353;
    font-size: 0.89rem;
    font-weight: 500;
}


.contact_form {
    background-color: #02519f;
    padding: 40px;

}

.contact_form input[type="text"] {
    border-radius: 2rem;

}

.contact_form input[type="email"] {
    border-radius: 2rem;

}

.contact_form form {
    text-align: center;
}

.contact_form input[type="submit"] {
    font-size: 1.4rem;
    font-weight: 700;
    color: #02519f;
    border-radius: 1rem;
    border: none;
    margin: 0px auto;
}

footer {
    margin-bottom: 2rem;
}

.contact_details {
    text-align: center;
}

.footer_logo {
    width: 50%;
    margin-top: 4rem;
}

.spacing {
    letter-spacing: 5px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.4rem;
}

.contact_info {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    align-items: baseline;
}

.contact_info label {
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-wrap: nowrap;
}

.contact_info label+a {
    color: #8d8d8d;
    font-weight: 500;
    text-decoration: none;
}